#bbarl_log, .bbarl_car_logged {
   text-align: center;
   font-size: 16px!important;
}
.bbarl_car_logged > input[type="checkbox"] { display: none; }
.bbarl_car_logged > input[type="checkbox"] + label {
   width: 100%;
   font-weight: normal;
   cursor: pointer;
   display: inline-block;
   background: none;
   background-color: lightgray;
   line-height: 2em;
}
.bbarl_car_logged > input[type="checkbox"] + label:hover {
   background-color: #b3b3b3;
}
.bbarl_car_logged > input[type="checkbox"]:checked + label {
   font-weight: bold;
   cursor: pointer;
   background-image: none;
   background-color: darkgray;
   color: #FFFFFF;
}
.bbarl_car_logged > input[type="checkbox"] ~ table { display: none; }
.bbarl_car_logged > input[type="checkbox"]:checked ~ table { display: table; }
.bbarl_car_logged > input[type="checkbox"] ~ div { display: none; }
.bbarl_car_logged > input[type="checkbox"]:checked ~ div { display: flex; }
.bbarl_car_logged > table {
   width: 100%;
   margin: auto;
   text-align: left;
}
.bbarl_carlabels {
   margin: auto;
   display: flex;
   flex-direction: row;
}
.bbarl_car_logged > table > tbody > tr > td {
   width: 45%;
   padding-bottom:   5px;
   padding-left:     10px;
   padding-right:    10px;
}
.bbarl_car_logged > table > tbody > tr:hover {
   background-color: lightgray;
}
.bbarl_carName, .bbarl_carBid, .bbarl_watched {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}
.bbarl_watched { text-align: left;  padding-left: 20px;  }
.bbarl_carName { text-align: center; }
.bbarl_carBid { text-align: right;  padding-right: 20px; }
.bbarl_images{
   color:black;
}
.bbarl_checks {
   width: 100%;
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
}
.bbarl_checks > span {
   flex-grow: 1;
}
.bbarl_checks > span > label {
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
}
.bbarl_checks > span > input[type="checkbox"] {
   display: none;
}
.bbarl_checks > span > input[type="checkbox"] + label {
   font-weight: normal;
   /*border: solid 2px white;*/
   border-right: none;
   line-height: 1.5em;
   cursor: pointer;
   display: inline-block;
   background: none;
   background-color: lightgray;
   color: black;
}
.bbarl_checks > span > input[type="checkbox"] + label:hover {
   background-color: #b3b3b3;
}
.bbarl_checks > span > input[type="checkbox"]:checked + label {
   font-weight: bold;
   cursor: pointer;
   background-image: none;
   background-color: darkgray;
   color: #FFFFFF;
}
.bbarl_car_logged_imgs {
   width: 100%;
   display: flex;
   flex-direction: row;
   overflow-x: scroll;
}
.bbarl_car_logged_imgs > span {
   display: inline-block;
   flex-grow: 1;
}
.bbarl_car_logged_imgs > span > img {
   display: inline-block;
}