#bbarl_log {
   text-align: center;
   font-size: 16px;
}
.bbarl_car_logged > table {
   width: 90%;
   margin: auto;
   text-align: left;
}
.bbarl_car_logged > table > tbody > tr > td {
   width: 45%;
   padding-bottom:   5px;
   padding-left:     10px;
   padding-right:    10px;
}
.bbarl_car_logged > table > tbody > tr:hover {
   background-color: lightgray;
}
.bbarl_carlabels {
   width: 80%;
   margin: auto;
   display: flex;
   flex-direction: row;
}
.bbarl_carName, .bbarl_carBid, .bbarl_watched {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}
.bbarl_watched { text-align: left; }
.bbarl_carName { text-align: center; }
.bbarl_carBid { text-align: right; }
.bbarl_images{
   color:black;
}
.bbarl_checks {
   width: 50%;
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
}
.bbarl_checks > span {
   flex-grow: 1;
}
.bbarl_checks > span > label {
   padding: 10px;
   width: 100%;
}
.bbarl_checks > span > input[type="checkbox"] {
   display: none;
}
.bbarl_checks > span > input[type="checkbox"] + label {
   font-weight: normal;
   /*border: solid 2px white;*/
   border-right: none;
   line-height: 1.5em;
   cursor: pointer;
   display: inline-block;
   background: none;
   background-color: lightgray;
   color: black;
}
.bbarl_checks > span > input[type="checkbox"] + label:hover {
   /* d3d3d3 = lightgray = silver */
   background-color: #b3b3b3;
}
.bbarl_checks > span > input[type="checkbox"]:checked + label {
   font-weight: bold;
   cursor: pointer;
   background-image: none;
   background-color: darkgray;
   color: #FFFFFF;
}
.bbarl_car_logged > label { padding: 10px; width: 50%; border: 1px solid black; }
.bbarl_car_logged > input[type="checkbox"] { display: none; }
.bbarl_car_logged > input[type="checkbox"] + label {
   font-weight: normal;
   /*border: solid 2px white;*/
   border-right: none;
   line-height: 1.5em;
   cursor: pointer;
   display: inline-block;
   background: none;
   background-color: lightgray;
   color: black;
}
.bbarl_car_logged > input[type="checkbox"]:checked + label {
   font-weight: bold;
   cursor: pointer;
   background-image: none;
   background-color: darkgray;
   color: #FFFFFF;
}
.bbarl_car_logged > input[type="checkbox"] ~ div { display: none; }
.bbarl_car_logged > input[type="checkbox"]:checked ~ div { display: block; }